header{
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: 75px;
    grid-gap: 11px;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    background-color: #08A54C;
}

header figure{
    grid-column-start: 2;
    cursor: pointer;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 9;
    text-transform: uppercase;
    font-size:  36px;
    cursor: default;
}

header nav{
    grid-column-start: 9;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 11px;
}

header nav div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

header nav div::before{
    width: 0%;
    height: 1px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    transition: width .3s ease-out;
    border-bottom: 5px solid #06D3DA;
    content: '';
}

header nav div:hover{
    color: #06D3DA;
}

header nav div:hover::before{
    width: 100%;
}

header nav span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

header nav a{
    text-decoration: none;
    color: inherit;
}